/* 
** common
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary{
  display: block;
}

audio,
canvas,
video{
  display:inline-block;
}

audio:not([controls]){
  display:none;
  height:0;
}

[hidden]{
  display:none;
}

html{
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

body{
  margin:0;
}

a:focus{
  outline: none;
}

a:active,
a:hover{
  outline:0;
}

h1{
  font-size:2em;
  /* margin:0.67em 0; */
}

abbr[title]{
  border-bottom:1px dotted;
}

b,
strong{
  font-weight:bold;
}

dfn{
  font-style:italic;
}

hr{
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  height:0;
}

mark{
  background:#ff0;
  color:#000;
}

code,
kbd,
pre,
samp{
  font-family:monospace,serif;
  font-size:1em;
}

pre{
  white-space:pre-wrap;
}

q{
  quotes:"\201C" "\201D" "\2018" "\2019";
}

small{
  font-size:80%;
}

sub,
sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sup{
  top:-0.5em;
}

sub{
  bottom:-0.25em;
}

img{
  border:0;
}

svg:not(:root){
  overflow:hidden;
}

figure{
  margin:0;
}

fieldset{
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:0.35em 0.625em 0.75em;
}

legend{
  border:0;
  padding:0;
}

button,
input,
select,
textarea{
  font-family:inherit;
  font-size:100%;
  margin:0;
  outline: none;
}

button,
input{
  line-height:normal;
}

button,
select{
  text-transform:none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{
  -webkit-appearance:button;
  cursor:pointer;
}

button[disabled],
html input[disabled]{
  cursor:default;
}

input[type="checkbox"],
input[type="radio"]{
  box-sizing:border-box;
  padding:0;
}

input[type="search"]{
  -webkit-appearance:textfield;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
  -webkit-appearance:none;
}

button::-moz-focus-inner,
input::-moz-focus-inner{
  border:0;
  padding:0;
}

textarea{
  overflow:auto;
  vertical-align:top;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

*,
*::after,
*::before {
  font-family: 'Montserrat', 'Noto Sans TC', 'Microsoft JhengHei', '微軟正黑體', 'sans-serif', serif;
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body{
  background-color: $bg-primary;
  line-height: 1.2;
}

html, body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

ul, li{
  list-style: none;
}

/* 消除 li 之間的空白 */
ul{
  letter-spacing: -8px;
}

li{
  letter-spacing: normal;
}

img{
  max-width: 100%;
  font-size: 0;
  display: block;
}

a, img{
  border: 0;
}

a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

a:hover{
  text-decoration: none;
}

p{
  font-size: .9em;
  letter-spacing: 1px;
  line-height: 1.5;
}

/* 顯示和隱藏 */
.for_phone{
  display: none;
}

// 首頁左右區塊
.section_l{
  width: 50%;
  height: 100vh;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;

  h2{
    width: 100%;
    @extend %section_title-style;
  }

  &.fixed{
    position: fixed;
  }
}

.section_l_contain{
  width: 100%;
  text-align: center;
  position: relative;
}

.section_r{
  width: 50%;
  position: relative;
  left: 50%;
}

// 首頁標題
%section_title-style {
  // @include font-en;
  text-align: center;
  font-size: 5.5vw;
  font-weight: 600;
}

@media screen and (max-width: 812px) {
  %section_title-style {
    text-align: left;
    font-size: 2.8em;
  }

  // 顯示、隱藏
  .for_pc{
    display: none;
  }

  .for_phone{
    display: block;
  }

  // 首頁區塊
  .section{
    padding: 10vw 0;
  }

  .section_l, .section_r{
    width: 100%;
    height: auto;
    left: 0;
    position: relative;
  }

  .section_l_contain{
    padding: 0 5vw;
  }

  .section_r{
    padding: 0 5vw;
  }
}