.top{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}

/* Word + SVG styles */
.index_word {
	// position: absolute;
	width: 100%;
	height: 100vh;
	background-color: $bg-primary;
	top: 0;
	left: 0;
	display: flex;
	align-content: center;
	justify-content: center;
	/* opacity: 0; */
	position: fixed;
	z-index: 9;
	overflow: hidden;
	pointer-events: none;
}

.word {
	position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 0.25em 0;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    grid-area: title;
    font-size: 10vw;
	font-weight: 700;
	font-family: 'Futura-pt', Arial, sans-serif;
	color: $color-light;
}	

.word span {
	// @include font-en;
	color: $color-dark;
	font-weight: 700;
	display: block;
	position: relative;
	flex: none;
	white-space: pre;
}

.shapes {
	position: absolute;
	top: 0;
	left: 0;
}

// scroll down
.index_scroll{
	width: 500px;
	margin: 0 auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.scroll_head{
	width: 55%;
	position: absolute;
	top: 25%;
	left: 22%;
}

.scroll_txt {
	width: 100%;
	height: 420px;
	position: absolute;
	top: 17%;
	left: 0;
	fill: none;
}

#myText {
	// @include font-en;
  font-size: 21.3px;
	font-weight: 600;
	fill: $bg-primary;

	tspan{
		fill: $color-second;
	}
}

// 名字
.kv_name{
	// @include font-en;
	width: 100%;
	height: 100%;
	font-size: 9vw;
	font-weight: 700;
	color: $bg-primary;
	filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.2));
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

// 主背景
.kv_box{
	width: 100%;
	height: 100%;
	background: url(../images/index/main_bg.jpg) 50% / cover no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	// clip-path: circle(0 at center);
}

.kv{
	width: 100%;
	height: 100%;
	position: absolute;

	div{
		position: absolute;
	}

	.box{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	.layer{
		width: 100%;
	}

	.circle{
		width: 597 / 1920 / 2 * 100%;
		padding-top: 586 / 1920 / 2 * 100%;
		background: url(../images/index/whitecircle.png) 50% / 100% no-repeat;
		top: -9%;
		right: -2%;
	}

	.moon{
		width: 760 / 1920 / 2 * 100%;
		padding-top: 692 / 1920 / 2 * 100%;
		background: url(../images/index/moon.png) 50% / 100% no-repeat;
		top: -5%;
		left: 0;
	}

	.bline1{
		width: 833 / 1920 / 2 * 100%;
		padding-top: 684 / 1920 / 2 * 100%;
		background: url(../images/index/bl1.png) 50% / 100% no-repeat;
		top: -15%;
		left: 36%;
		opacity: 0;
		animation: lineFly 6s linear infinite forwards;
	}

	.wline1{
		width: 833 / 1920 / 2 * 100%;
		padding-top: 684 / 1920 / 2 * 100%;
		background: url(../images/index/wl1.png) 50% / 100% no-repeat;
		opacity: .4;
		top: 2.5%;
		left: 32%;
		opacity: 0;
		animation: lineFly 7s 2s linear infinite forwards;
	}

	.wline2{
		width: 872 / 1920 / 2 * 100%;
		padding-top: 720 / 1920 / 2 * 100%;
		background: url(../images/index/wl2.png) 50% / 100% no-repeat;
		opacity: .4;
		top: 63%;
		left: -5%;
		opacity: 0;
		animation: lineFly 9s linear infinite forwards;
	}

	.wline3{
		width: 854 / 1920 / 2 * 100%;
		padding-top: 713 / 1920 / 2 * 100%;
		background: url(../images/index/wl3.png) 50% / 100% no-repeat;
		opacity: .4;
		top: 18.5%;
		right: -2%;
		opacity: 0;
		animation: lineFly 9s 4s linear infinite forwards;
	}

	.bline2{
		width: 833 / 1920 / 2 * 100%;
		padding-top: 684 / 1920 / 2 * 100%;
		background: url(../images/index/bl2.png) 50% / 100% no-repeat;
		opacity: .4;
		top: 27%;
		right: -2%;
		opacity: 0;
		animation: lineFly 7s 3s linear infinite forwards;
	}

	.cloud1{
		width: 1278 / 1920 / 2 * 100%;
		padding-top: 315 / 1920 / 2 * 100%;
		top: 16%;
		right: 21%;
		opacity: 0;
		animation: cloud 10s linear infinite forwards;

		.layer{
			width: 100%;
			height: 100%;
			background: url(../images/index/cloud1.png) 50% / 100% no-repeat;
		}
	}

	.code{
		width: 847 / 1920 / 2 * 100%;
		top: 2%;
		right: 15%;

		.layer{
			padding-top: 770 / 847 * 100%;
			background: url(../images/index/code.png) 50% / 100% no-repeat;
		}
	}

	.cloud2{
		width: 1173 / 1920 / 2 * 100%;
		padding-top: 367 / 1920 / 2 * 100%;
		background: url(../images/index/cloud2.png) 50% / 100% no-repeat;
		top: 80%;
		left: 0%;
		opacity: 0;
		animation: cloud 8s -4s linear infinite forwards;
	}

	.cloud3{
		width: 928 / 1920 / 2 * 100%;
		padding-top: 256 / 1920 / 2 * 100%;
		background: url(../images/index/cloud3.png) 50% / 100% no-repeat;
		top: 90%;
		left: 16%;
		animation: cloud 12s linear infinite forwards;
	}

	.planet{
		width: 45%;
		padding-top: 1212 / 1904 * 45%;
		bottom: -5vw;
		right: 5%;
		animation: planetRotate 10s linear infinite;

		.layer{
			width: 100%;
			height: 100%;
			background: url(../images/index/planet.png) 50% / 100% no-repeat;
		}
	}

	.mou1{
		width: 1345 / 1920 / 2 * 100%;
		top: 8%;
		left: 7%;

		.layer{
			padding-top: 1237 / 1345 * 100%;
			background: url(../images/index/moutain1.png) 50% / 100% no-repeat;
		}
	}

	.mou2{
		width: 611 / 1920 / 2 * 100%;
		top: 34%;
		left: 1%;

		.layer{
			padding-top: 557 / 611 * 100%;
			background: url(../images/index/moutain2.png) 50% / 100% no-repeat;
		}
	}

	.mou3{
		width: 525 / 1920 / 2 * 100%;
		top: 46%;
		left: 13%;

		.layer{
			padding-top: 479 / 525 * 100%;
			background: url(../images/index/moutain3.png) 50% / 100% no-repeat;
		}
	}

	.square{
		width: 474 / 1920 / 2 * 100%;
		padding-top: 466 / 1920 / 2 * 100%;
		background: url(../images/index/box.png) 50% / 100% no-repeat;
		top: 69.2%;
		left: 8.5%;
		perspective: 800px;
		animation: squareRotate 5s linear infinite both;
	}

	.mounlight{
		width: 175 / 1920 / 2 * 100%;
		padding-top: 175 / 1920 / 2 * 100%;
		background: url(../images/index/mountain_light.png) 50% / 100% no-repeat;
		top: 22%;
		left: 28%;
		animation: shine 2s 2s ease-in-out infinite both;
	}

	.program1{
		width: 200 / 1920 / 2 * 100%;
		padding-top: 249 / 1920 / 2 * 100%;
		background: url(../images/index/htmlsquare.png) 50% / 100% no-repeat;
		bottom: 40%;
		right: 4%;
		animation: fly 2s ease-in-out infinite forwards;
	}

	.program2{
		width: 200 / 1920 / 2 * 100%;
		padding-top: 249 / 1920 / 2 * 100%;
		background: url(../images/index/csssquare.png) 50% / 100% no-repeat;
		bottom: 22%;
		right: 8%;
		animation: fly 2.5s ease-in-out infinite forwards;
	}

	.program3{
		width: 254 / 1920 / 2 * 100%;
		padding-top: 318 / 1920 / 2 * 100%;
		background: url(../images/index/jssquare.png) 50% / 100% no-repeat;
		bottom: 5%;
		right: 2%;
		animation: fly 4s ease-in-out infinite forwards;
	}

	.cat{
		width: 1208 / 1920 / 2 * 100%;
		top: 50%;
		left: 10%;

		.layer{
			padding-top: 944 / 1208 * 100%;
			background: url(../images/index/cat.png) 50% / 100% no-repeat;
		}
	}

	.man{
		width: 1446 / 1920 / 2 * 100%;
		top: 4%;
		right: 0%;

		.layer{
			padding-top: 1434 / 1446 * 100%;
			background: url(../images/index/man.png) 50% / 100% no-repeat;
		}
	}

	.sparkling{
		width: 176 / 1920 / 2 * 100%;
		padding-top: 176 / 1920 / 2 * 100%;
		background: url(../images/index/planet_star.png) 50% / 100% no-repeat;
		top: 77%;
		right: 19%;
		animation: shine 2s linear infinite forwards;
	}

	.dot1{
		width: 394 / 1920 / 2 * 100%;
		padding-top: 111 / 1920 / 2 * 100%;
		background: url(../images/index/dot1.png) 50% / 100% no-repeat;
		bottom: 1%;
		left: 11%;
		animation: dotshine 3s ease-in-out infinite forwards;
	}

	.dot2{
		width: 795 / 1920 / 2 * 100%;
		padding-top: 149 / 1920 / 2 * 100%;
		background: url(../images/index/dot2.png) 50% / 100% no-repeat;
		top: 76%;
		left: 34%;
		animation: dotshine 5s ease-in-out infinite forwards;
	}

	.dot3{
		width: 1296 / 1920 / 2 * 100%;
		padding-top: 542 / 1920 / 2 * 100%;
		background: url(../images/index/dot3.png) 50% / 100% no-repeat;
		bottom: 3%;
		right: 3%;
		animation: dotshine 7s -1.5s ease-in-out infinite forwards;
	}

	.star1{
		width: 79 / 1920 / 2 * 100%;
		padding-top: 78 / 1920 / 2 * 100%;
		background: url(../images/index/star.png) 50% / 100% no-repeat;
		top: 15%;
		left: 56%;
		animation: starShine 5s linear infinite forwards;
	}

	.star2{
		width: 1.5%;
		padding-top: 1.5%;
		background: url(../images/index/star.png) 50% / 100% no-repeat;
		top: 57%;
		left: 75.5%;
		opacity: 0;
		animation: starShine 5s 2s linear infinite forwards;
	}
}

// scroll
.scroll{
	padding-right: 2px;
	color: $bg-primary;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0);
	overflow: hidden;
	pointer-events: none;

	span{
		// @include font-en;
		padding: 2px 5px 50px 0;
		margin-left: 25px;
		font-size: 1.1em;
		font-weight: 400;
		position: relative;
		writing-mode: vertical-lr;
		text-orientation: mixed;
		letter-spacing: 1px;
		display: block;

		&::after{
			content: '';
			width: 2px;
			height: 100%;
			background-color: $bg-primary;
			display: inline-block;
			position: absolute;
			top: 0;
			right: 0;
			animation: scrollLine 1.2s linear infinite forwards;
		}
	}
}

@keyframes scrollLine {
	0%{
		top: -100%;
	}
	25%{
		top: 0;
	}
	100%{
		top: 100%;
	}
}

// 內容
.index_main{
	margin-top: 100%;
	background-color: $bg-primary;
	position: relative;
	z-index: 2;
}

// about
.about{
	width: 100%;
	min-height: 100vh;
	position: relative;

	.section_l{
		background: $color-second;

		h1{
    		color: $color-light;
		}
	}
}

.about_man{
	width: 25%;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
}

.about_man_contain{
	width: 100%;
	padding-top: 420 / 300 * 100%;
	background: url(../images/index/about_man.png) 0% 0% / 3900% no-repeat;
	animation: wave 4s steps(38) infinite forwards;
	position: relative;

	&::after{
		content: '';
		width: 2px;
		height: 100%;
		background-color: $color-second;
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
	}
}

@keyframes wave {
	0%{
		background-position: 0% 0%;
	}
	15%{
		background-position: 100% 0%;
	}
	30%{
		background-position: 0% 0%;
	}
	45%{
		background-position: 100% 0%;
	}
	100%{
		background-position: 100% 0%;
	}
}

.about_row{
	padding: 5%;

	p{
		line-height: 1.8;
	}

	.text_bold{
		font-weight: 500;
	}
	
	.text_list{
		font-size: 1em;
		font-weight: 600;
	}
	
	.text_list_dot{
		color: $color-primary;
		font-size: 1.1em;
	}
}

.about_txt{
	padding: 5vw;

	p:not(:last-child){
		margin-bottom: 10px;
	}
}

// work
.work{
	width: 100%;
	min-height: 100vh;
	background-color: $bg-primary;
	position: relative;
	.section_l{

		h1{
    		color: $color-dark;
		}
	}
}

.index_btn{
	width: 100%;
	@media screen and (min-width: 813px) {
		padding-top: 3%;
	}
}

.btn{
	width: 100px;
	height: 40px;
	margin: 0 auto;
	border-bottom: 2px solid $color-dark;
	letter-spacing: 1px;
	line-height: 40px;
	display: block;
	position: relative;
	overflow: hidden;
	transition: color 0.3s linear;
	
	&::after{
		content: '';
		width: 100%;
		height: 100%;
		background-color: $color-dark;
		position: absolute;
		top: 0;
		left: -100%;
		opacity: 0;
		transition: left 0.3s ease-in, opacity 0.3s linear;
	}

	span{
		position: relative;
		z-index: 2;
	}

	@media screen and (min-width: 813px) {
		&:hover{
			color: $color-light;
			transition: color 0.3s linear;
	
			&::after{
				opacity: 1;
				left: 0;
			}
		}
	}
}

.work_item{
	color: $color-light;
	position: relative;
	overflow: hidden;
	
	*{
		text-align: center;
		letter-spacing: 1px;
	}

	@media screen and (min-width: 813px) {
		background-color: $color-primary;

		&:hover{
			.work_img{
				opacity: 0.2;
				transform: scale(1.1);
				transition: transform 0.5s ease-in-out, opacity 0.5s linear;
			}
	
			.work_contain{
				opacity: 1;
				transition: opacity 0.5s linear;
			}
	
			.work_btn_item{
				opacity: 1;
				transform: translate(0, 0);
				transition: opacity .3s linear,
										transform .3s ease-in-out;
			}
		}
	}

	@for $i from 1 through 6{
		&:nth-child(#{$i}) .work_img{
			background-image: url(../images/index/work_bg#{$i}.jpg);
		}
	}
}

.work_link{
	display: block;
}

.work_img{
	width: 100%;
	padding-top: 100%;
	background: {
		size: cover;
		position: top;
		repeat: no-repeat;
	}
	opacity: 1;
	transform: scale(1);
	transition: transform 0.5s ease-in-out, opacity 0.5s linear;
}

.work_contain{
	width: 100%;
	padding: 0 5%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	opacity: 0;
	z-index: 2;
	transition: opacity 0.5s linear;
}

.work_name{
	font-size: 1.1em;
	font-weight: 600;
}

.work_type{
	margin: 8px auto 15px auto;
	font-size: 0.85em;
	font-weight: normal;
	line-height: 1.3;
}

.work_tag_i{
	font-size: 0.8em;
	margin: 0 3px;

	&::before{
		content: '#';
		display: inline-block;
	}
}

.work_btn{
	margin-top: 1vw;
}

.work_btn_item{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	opacity: 0;
	transform: translate(0, 15px);
	transition: opacity .3s linear,
				transform .3s ease-in-out;

	&::before{
		content: '';
		width: 24px;
		height: 24px;
		display: inline-block;
		position: absolute;
		top: 8px;
		left: 8px;
		z-index: 1;
	}

	&.link::before{
		background: url(../images/index/link.png) 50% / contain no-repeat;
	}

	&.view::before{
		background: url(../images/index/view.png) 50% / contain no-repeat;
	}

	&::after{
		content: '';
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: $color-primary;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transform: scale(0);
		transition: opacity .3s linear,
					transform .3s ease-in;
	}

	&:hover::after{
		opacity: 1;
		transform: scale(1);
		transition: opacity .3s linear,
					transform .3s ease-in;
	}
}

// contact
.contact{
	width: 100%;
	padding: 5vw 5vw calc(5vw - 10px) 5vw;
	background-color: $color-second;
	text-align: center;
	color: $color-dark;
	
	h2{
		margin-bottom: 2%;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 400;
		letter-spacing: 0.05em;
	}

	p{
		margin-bottom: 2%;
	}

	h3{
		margin-bottom: 10px;
		font-size: 1.3em;
	}

	a{
		padding: 15px 20px;
		color: $color-light;
		font-size: 0.9em;
		transition: background-color 0.3s linear;

		&:hover{
			background-color: $color-primary;
			transition: background-color 0.3s linear;
		}
	}
}

@media screen and (max-width: 812px) {
	.index_scroll{
		display: none;
	}

	// KV
	.kv_box{
		clip-path: none !important;
	}

	.index_main{
		margin-top: 100vh !important;
	}

	.kv{
		.man{
			width: 60%;
			top: 15%;
		}

		.code{
			width: 40%;
			top: 6%;
			right: 20%;
		}

		.moon{
			width: 34%;
			padding-top: 692 / 760 * 34%;
		}

		.mou1{
			width: 40%;
			top: 17%;
		}

		.cat{
			width: 53%;
		}

		.planet{
			width: 80%;
			padding-top: 1212 / 1904 * 80%;
			right: -4%;
		}

		.program1{
			width: 10%;
			padding-top: 249 / 200 * 10%;
			bottom: 35%;
		}

		.program2{
			width: 8%;
			padding-top: 249 / 200 * 8%;
		}

		.program3{
			width: 12%;
			padding-top: 249 / 200 * 12%;
		}
	}
	
	// about
	.about{
		min-height: auto;
		background-color: $color-second;

		.section_l_contain{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			h2{
				width: 150px;
			}
		}
	}

	.about_row{
		padding: 5% 0;

		&:last-child{
			padding-bottom: 0;
		}
	}

	.about_txt{
		padding: 0;
	}

	.about_man{
		width: calc(100% - 150px);
		max-width: 120px;
		margin-right: -5vw;
		margin-left: auto;
		position: relative;
		transform: translate(0, 0);
	}

	// work
	.btn{
		width: 100%;
		max-width: 200px;
		text-align: center;
		border-bottom: 0;
		background-color: $color-primary;
		color: $color-light;
	}

	.work_list{
		width: 90vw;
		margin: 8% auto 0 auto;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.work_item{
		width: 48%;
		margin-bottom: 10%;
		color: $color-dark;

		*{
			text-align: left;
			letter-spacing: 0.3px;
		}
	}

	.work_img{
		position: static;
    	padding-top: 100%;
	}

	.work_contain{
		width: 100%;
		padding: 0;
		margin: 4% auto;
		background-color: transparent;
		opacity: 1;
		position: static;
		transform: translate(0, 0);
	}

	.work_name{
		font-size: 1em;
	}

	.work_type{
		color: $color-info;
		margin: 5px auto;
	}

	.work_tag_i{
		margin: 0 3px 0 auto;
	}

	.work_btn{
		display: none;
	}

	// contact
	.contact{
		padding: 10vw 5vw;
		text-align: left;
	}
}

@media screen and (max-width: 568px) {
	// work
	.work_item{
		width: 100%;
	}
}