// 顏色
$color-primary: #3cb4d2;
$color-second: #ffcd32;
$color-dark: #000000;
$color-info: #858585;
$color-light: #ffffff;
$btn-dark: rgba(41, 41, 41, .5);
$bg-primary: #f6f6f6;

// 字體
@mixin font-main {
    font: {
      family: 'Montserrat', 'Noto Sans TC', 'Microsoft JhengHei', '微軟正黑體', 'sans-serif', serif;
      size: 14px;
      weight: 400;
    }
    color: $font-color-main;
    line-height: 1.8;
    letter-spacing: 0.01em;

    @media screen and (max-width: 1024px){
        line-height: 1.5;
    }

    @media screen and (max-width: 512px){
        font-size: 13px;
    }
}

@mixin font-en {
    font: {
      family: 'Futura-pt', Arial, sans-serif;
      size: 0.928em;
    }
}