@charset "UTF-8";
/* 
** common
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: none;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  /* margin:0.67em 0; */
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: none;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  font-family: 'Montserrat', 'Noto Sans TC', 'Microsoft JhengHei', '微軟正黑體', 'sans-serif', serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #f6f6f6;
  line-height: 1.2;
}

html, body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

ul, li {
  list-style: none;
}

/* 消除 li 之間的空白 */
ul {
  letter-spacing: -8px;
}

li {
  letter-spacing: normal;
}

img {
  max-width: 100%;
  font-size: 0;
  display: block;
}

a, img {
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: .9em;
  letter-spacing: 1px;
  line-height: 1.5;
}

/* 顯示和隱藏 */
.for_phone {
  display: none;
}

.section_l {
  width: 50%;
  height: 100vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
}

.section_l h2 {
  width: 100%;
}

.section_l.fixed {
  position: fixed;
}

.section_l_contain {
  width: 100%;
  text-align: center;
  position: relative;
}

.section_r {
  width: 50%;
  position: relative;
  left: 50%;
}

.section_l h2, .contact h2 {
  text-align: center;
  font-size: 5.5vw;
  font-weight: 600;
}

@media screen and (max-width: 812px) {
  .section_l h2, .contact h2 {
    text-align: left;
    font-size: 2.8em;
  }
  .for_pc {
    display: none;
  }
  .for_phone {
    display: block;
  }
  .section {
    padding: 10vw 0;
  }
  .section_l, .section_r {
    width: 100%;
    height: auto;
    left: 0;
    position: relative;
  }
  .section_l_contain {
    padding: 0 5vw;
  }
  .section_r {
    padding: 0 5vw;
  }
}

.top {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* Word + SVG styles */
.index_word {
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* opacity: 0; */
  position: fixed;
  z-index: 9;
  overflow: hidden;
  pointer-events: none;
}

.word {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0.25em 0;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  grid-area: title;
  font-size: 10vw;
  font-weight: 700;
  font-family: 'Futura-pt', Arial, sans-serif;
  color: #ffffff;
}

.word span {
  color: #000000;
  font-weight: 700;
  display: block;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  white-space: pre;
}

.shapes {
  position: absolute;
  top: 0;
  left: 0;
}

.index_scroll {
  width: 500px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.scroll_head {
  width: 55%;
  position: absolute;
  top: 25%;
  left: 22%;
}

.scroll_txt {
  width: 100%;
  height: 420px;
  position: absolute;
  top: 17%;
  left: 0;
  fill: none;
}

#myText {
  font-size: 21.3px;
  font-weight: 600;
  fill: #f6f6f6;
}

#myText tspan {
  fill: #ffcd32;
}

.kv_name {
  width: 100%;
  height: 100%;
  font-size: 9vw;
  font-weight: 700;
  color: #f6f6f6;
  -webkit-filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.2));
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.kv_box {
  width: 100%;
  height: 100%;
  background: url(../images/index/main_bg.jpg) 50%/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.kv {
  width: 100%;
  height: 100%;
  position: absolute;
}

.kv div {
  position: absolute;
}

.kv .box {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.kv .layer {
  width: 100%;
}

.kv .circle {
  width: 15.546875%;
  padding-top: 15.2604166667%;
  background: url(../images/index/whitecircle.png) 50%/100% no-repeat;
  top: -9%;
  right: -2%;
}

.kv .moon {
  width: 19.7916666667%;
  padding-top: 18.0208333333%;
  background: url(../images/index/moon.png) 50%/100% no-repeat;
  top: -5%;
  left: 0;
}

.kv .bline1 {
  width: 21.6927083333%;
  padding-top: 17.8125%;
  background: url(../images/index/bl1.png) 50%/100% no-repeat;
  top: -15%;
  left: 36%;
  opacity: 0;
  -webkit-animation: lineFly 6s linear infinite forwards;
          animation: lineFly 6s linear infinite forwards;
}

.kv .wline1 {
  width: 21.6927083333%;
  padding-top: 17.8125%;
  background: url(../images/index/wl1.png) 50%/100% no-repeat;
  opacity: .4;
  top: 2.5%;
  left: 32%;
  opacity: 0;
  -webkit-animation: lineFly 7s 2s linear infinite forwards;
          animation: lineFly 7s 2s linear infinite forwards;
}

.kv .wline2 {
  width: 22.7083333333%;
  padding-top: 18.75%;
  background: url(../images/index/wl2.png) 50%/100% no-repeat;
  opacity: .4;
  top: 63%;
  left: -5%;
  opacity: 0;
  -webkit-animation: lineFly 9s linear infinite forwards;
          animation: lineFly 9s linear infinite forwards;
}

.kv .wline3 {
  width: 22.2395833333%;
  padding-top: 18.5677083333%;
  background: url(../images/index/wl3.png) 50%/100% no-repeat;
  opacity: .4;
  top: 18.5%;
  right: -2%;
  opacity: 0;
  -webkit-animation: lineFly 9s 4s linear infinite forwards;
          animation: lineFly 9s 4s linear infinite forwards;
}

.kv .bline2 {
  width: 21.6927083333%;
  padding-top: 17.8125%;
  background: url(../images/index/bl2.png) 50%/100% no-repeat;
  opacity: .4;
  top: 27%;
  right: -2%;
  opacity: 0;
  -webkit-animation: lineFly 7s 3s linear infinite forwards;
          animation: lineFly 7s 3s linear infinite forwards;
}

.kv .cloud1 {
  width: 33.28125%;
  padding-top: 8.203125%;
  top: 16%;
  right: 21%;
  opacity: 0;
  -webkit-animation: cloud 10s linear infinite forwards;
          animation: cloud 10s linear infinite forwards;
}

.kv .cloud1 .layer {
  width: 100%;
  height: 100%;
  background: url(../images/index/cloud1.png) 50%/100% no-repeat;
}

.kv .code {
  width: 22.0572916667%;
  top: 2%;
  right: 15%;
}

.kv .code .layer {
  padding-top: 90.9090909091%;
  background: url(../images/index/code.png) 50%/100% no-repeat;
}

.kv .cloud2 {
  width: 30.546875%;
  padding-top: 9.5572916667%;
  background: url(../images/index/cloud2.png) 50%/100% no-repeat;
  top: 80%;
  left: 0%;
  opacity: 0;
  -webkit-animation: cloud 8s -4s linear infinite forwards;
          animation: cloud 8s -4s linear infinite forwards;
}

.kv .cloud3 {
  width: 24.1666666667%;
  padding-top: 6.6666666667%;
  background: url(../images/index/cloud3.png) 50%/100% no-repeat;
  top: 90%;
  left: 16%;
  -webkit-animation: cloud 12s linear infinite forwards;
          animation: cloud 12s linear infinite forwards;
}

.kv .planet {
  width: 45%;
  padding-top: 28.6449579832%;
  bottom: -5vw;
  right: 5%;
  -webkit-animation: planetRotate 10s linear infinite;
          animation: planetRotate 10s linear infinite;
}

.kv .planet .layer {
  width: 100%;
  height: 100%;
  background: url(../images/index/planet.png) 50%/100% no-repeat;
}

.kv .mou1 {
  width: 35.0260416667%;
  top: 8%;
  left: 7%;
}

.kv .mou1 .layer {
  padding-top: 91.970260223%;
  background: url(../images/index/moutain1.png) 50%/100% no-repeat;
}

.kv .mou2 {
  width: 15.9114583333%;
  top: 34%;
  left: 1%;
}

.kv .mou2 .layer {
  padding-top: 91.1620294599%;
  background: url(../images/index/moutain2.png) 50%/100% no-repeat;
}

.kv .mou3 {
  width: 13.671875%;
  top: 46%;
  left: 13%;
}

.kv .mou3 .layer {
  padding-top: 91.2380952381%;
  background: url(../images/index/moutain3.png) 50%/100% no-repeat;
}

.kv .square {
  width: 12.34375%;
  padding-top: 12.1354166667%;
  background: url(../images/index/box.png) 50%/100% no-repeat;
  top: 69.2%;
  left: 8.5%;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-animation: squareRotate 5s linear infinite both;
          animation: squareRotate 5s linear infinite both;
}

.kv .mounlight {
  width: 4.5572916667%;
  padding-top: 4.5572916667%;
  background: url(../images/index/mountain_light.png) 50%/100% no-repeat;
  top: 22%;
  left: 28%;
  -webkit-animation: shine 2s 2s ease-in-out infinite both;
          animation: shine 2s 2s ease-in-out infinite both;
}

.kv .program1 {
  width: 5.2083333333%;
  padding-top: 6.484375%;
  background: url(../images/index/htmlsquare.png) 50%/100% no-repeat;
  bottom: 40%;
  right: 4%;
  -webkit-animation: fly 2s ease-in-out infinite forwards;
          animation: fly 2s ease-in-out infinite forwards;
}

.kv .program2 {
  width: 5.2083333333%;
  padding-top: 6.484375%;
  background: url(../images/index/csssquare.png) 50%/100% no-repeat;
  bottom: 22%;
  right: 8%;
  -webkit-animation: fly 2.5s ease-in-out infinite forwards;
          animation: fly 2.5s ease-in-out infinite forwards;
}

.kv .program3 {
  width: 6.6145833333%;
  padding-top: 8.28125%;
  background: url(../images/index/jssquare.png) 50%/100% no-repeat;
  bottom: 5%;
  right: 2%;
  -webkit-animation: fly 4s ease-in-out infinite forwards;
          animation: fly 4s ease-in-out infinite forwards;
}

.kv .cat {
  width: 31.4583333333%;
  top: 50%;
  left: 10%;
}

.kv .cat .layer {
  padding-top: 78.1456953642%;
  background: url(../images/index/cat.png) 50%/100% no-repeat;
}

.kv .man {
  width: 37.65625%;
  top: 4%;
  right: 0%;
}

.kv .man .layer {
  padding-top: 99.1701244813%;
  background: url(../images/index/man.png) 50%/100% no-repeat;
}

.kv .sparkling {
  width: 4.5833333333%;
  padding-top: 4.5833333333%;
  background: url(../images/index/planet_star.png) 50%/100% no-repeat;
  top: 77%;
  right: 19%;
  -webkit-animation: shine 2s linear infinite forwards;
          animation: shine 2s linear infinite forwards;
}

.kv .dot1 {
  width: 10.2604166667%;
  padding-top: 2.890625%;
  background: url(../images/index/dot1.png) 50%/100% no-repeat;
  bottom: 1%;
  left: 11%;
  -webkit-animation: dotshine 3s ease-in-out infinite forwards;
          animation: dotshine 3s ease-in-out infinite forwards;
}

.kv .dot2 {
  width: 20.703125%;
  padding-top: 3.8802083333%;
  background: url(../images/index/dot2.png) 50%/100% no-repeat;
  top: 76%;
  left: 34%;
  -webkit-animation: dotshine 5s ease-in-out infinite forwards;
          animation: dotshine 5s ease-in-out infinite forwards;
}

.kv .dot3 {
  width: 33.75%;
  padding-top: 14.1145833333%;
  background: url(../images/index/dot3.png) 50%/100% no-repeat;
  bottom: 3%;
  right: 3%;
  -webkit-animation: dotshine 7s -1.5s ease-in-out infinite forwards;
          animation: dotshine 7s -1.5s ease-in-out infinite forwards;
}

.kv .star1 {
  width: 2.0572916667%;
  padding-top: 2.03125%;
  background: url(../images/index/star.png) 50%/100% no-repeat;
  top: 15%;
  left: 56%;
  -webkit-animation: starShine 5s linear infinite forwards;
          animation: starShine 5s linear infinite forwards;
}

.kv .star2 {
  width: 1.5%;
  padding-top: 1.5%;
  background: url(../images/index/star.png) 50%/100% no-repeat;
  top: 57%;
  left: 75.5%;
  opacity: 0;
  -webkit-animation: starShine 5s 2s linear infinite forwards;
          animation: starShine 5s 2s linear infinite forwards;
}

.scroll {
  padding-right: 2px;
  color: #f6f6f6;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  overflow: hidden;
  pointer-events: none;
}

.scroll span {
  padding: 2px 5px 50px 0;
  margin-left: 25px;
  font-size: 1.1em;
  font-weight: 400;
  position: relative;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-text-orientation: mixed;
          text-orientation: mixed;
  letter-spacing: 1px;
  display: block;
}

.scroll span::after {
  content: '';
  width: 2px;
  height: 100%;
  background-color: #f6f6f6;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: scrollLine 1.2s linear infinite forwards;
          animation: scrollLine 1.2s linear infinite forwards;
}

@-webkit-keyframes scrollLine {
  0% {
    top: -100%;
  }
  25% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@keyframes scrollLine {
  0% {
    top: -100%;
  }
  25% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.index_main {
  margin-top: 100%;
  background-color: #f6f6f6;
  position: relative;
  z-index: 2;
}

.about {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.about .section_l {
  background: #ffcd32;
}

.about .section_l h1 {
  color: #ffffff;
}

.about_man {
  width: 25%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.about_man_contain {
  width: 100%;
  padding-top: 140%;
  background: url(../images/index/about_man.png) 0% 0%/3900% no-repeat;
  -webkit-animation: wave 4s steps(38) infinite forwards;
          animation: wave 4s steps(38) infinite forwards;
  position: relative;
}

.about_man_contain::after {
  content: '';
  width: 2px;
  height: 100%;
  background-color: #ffcd32;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

@-webkit-keyframes wave {
  0% {
    background-position: 0% 0%;
  }
  15% {
    background-position: 100% 0%;
  }
  30% {
    background-position: 0% 0%;
  }
  45% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes wave {
  0% {
    background-position: 0% 0%;
  }
  15% {
    background-position: 100% 0%;
  }
  30% {
    background-position: 0% 0%;
  }
  45% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.about_row {
  padding: 5%;
}

.about_txt {
  padding: 5vw;
}

.about_txt p:not(:last-child) {
  margin-bottom: 10px;
}

.work {
  width: 100%;
  min-height: 100vh;
  background-color: #f6f6f6;
  position: relative;
}

.work .section_l h1 {
  color: #000000;
}

.index_btn {
  width: 100%;
}

@media screen and (min-width: 813px) {
  .index_btn {
    padding-top: 3%;
  }
}

.btn {
  width: 100px;
  height: 40px;
  margin: 0 auto;
  border-bottom: 2px solid #000000;
  letter-spacing: 1px;
  line-height: 40px;
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.btn::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  -webkit-transition: left 0.3s ease-in, opacity 0.3s linear;
  transition: left 0.3s ease-in, opacity 0.3s linear;
}

.btn span {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 813px) {
  .btn:hover {
    color: #ffffff;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
  }
  .btn:hover::after {
    opacity: 1;
    left: 0;
  }
}

.work_item {
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.work_item * {
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (min-width: 813px) {
  .work_item {
    background-color: #3cb4d2;
  }
  .work_item:hover .work_img {
    opacity: 0.2;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: opacity 0.5s linear, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.5s linear, -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, opacity 0.5s linear;
    transition: transform 0.5s ease-in-out, opacity 0.5s linear, -webkit-transform 0.5s ease-in-out;
  }
  .work_item:hover .work_contain {
    opacity: 1;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
  }
  .work_item:hover .work_btn_item {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: opacity .3s linear, -webkit-transform .3s ease-in-out;
    transition: opacity .3s linear, -webkit-transform .3s ease-in-out;
    transition: opacity .3s linear, transform .3s ease-in-out;
    transition: opacity .3s linear, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
}

.work_item:nth-child(1) .work_img {
  background-image: url(../images/index/work_bg1.jpg);
}

.work_item:nth-child(2) .work_img {
  background-image: url(../images/index/work_bg2.jpg);
}

.work_item:nth-child(3) .work_img {
  background-image: url(../images/index/work_bg3.jpg);
}

.work_item:nth-child(4) .work_img {
  background-image: url(../images/index/work_bg4.jpg);
}

.work_item:nth-child(5) .work_img {
  background-image: url(../images/index/work_bg5.jpg);
}

.work_item:nth-child(6) .work_img {
  background-image: url(../images/index/work_bg6.jpg);
}

.work_link {
  display: block;
}

.work_img {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.5s linear, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 0.5s linear;
  transition: transform 0.5s ease-in-out, opacity 0.5s linear, -webkit-transform 0.5s ease-in-out;
}

.work_contain {
  width: 100%;
  padding: 0 5%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 0;
  z-index: 2;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.work_name {
  font-size: 1.1em;
  font-weight: 600;
}

.work_type {
  margin: 8px auto 15px auto;
  font-size: 0.85em;
  font-weight: normal;
  line-height: 1.3;
}

.work_tag_i {
  font-size: 0.8em;
  margin: 0 3px;
}

.work_tag_i::before {
  content: '#';
  display: inline-block;
}

.work_btn {
  margin-top: 1vw;
}

.work_btn_item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0, 15px);
          transform: translate(0, 15px);
  -webkit-transition: opacity .3s linear, -webkit-transform .3s ease-in-out;
  transition: opacity .3s linear, -webkit-transform .3s ease-in-out;
  transition: opacity .3s linear, transform .3s ease-in-out;
  transition: opacity .3s linear, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.work_btn_item::before {
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
}

.work_btn_item.link::before {
  background: url(../images/index/link.png) 50%/contain no-repeat;
}

.work_btn_item.view::before {
  background: url(../images/index/view.png) 50%/contain no-repeat;
}

.work_btn_item::after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3cb4d2;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity .3s linear, -webkit-transform .3s ease-in;
  transition: opacity .3s linear, -webkit-transform .3s ease-in;
  transition: opacity .3s linear, transform .3s ease-in;
  transition: opacity .3s linear, transform .3s ease-in, -webkit-transform .3s ease-in;
}

.work_btn_item:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity .3s linear, -webkit-transform .3s ease-in;
  transition: opacity .3s linear, -webkit-transform .3s ease-in;
  transition: opacity .3s linear, transform .3s ease-in;
  transition: opacity .3s linear, transform .3s ease-in, -webkit-transform .3s ease-in;
}

.contact {
  width: 100%;
  padding: 5vw;
  background-color: #ffcd32;
  text-align: center;
  color: #000000;
}

.contact h2 {
  margin-bottom: 2%;
}

.contact p {
  margin-bottom: 5%;
}

.contact h3 {
  margin-bottom: 10px;
}

.contact a {
  text-decoration: underline;
  color: #ffffff;
}

@media screen and (max-width: 812px) {
  .index_scroll {
    display: none;
  }
  .kv_box {
    -webkit-clip-path: none !important;
            clip-path: none !important;
  }
  .index_main {
    margin-top: 100vh !important;
  }
  .kv .man {
    width: 60%;
    top: 15%;
  }
  .kv .code {
    width: 40%;
    top: 6%;
    right: 20%;
  }
  .kv .moon {
    width: 34%;
    padding-top: 30.9578947368%;
  }
  .kv .mou1 {
    width: 40%;
    top: 17%;
  }
  .kv .cat {
    width: 53%;
  }
  .kv .planet {
    width: 80%;
    padding-top: 50.9243697479%;
    right: -4%;
  }
  .kv .program1 {
    width: 10%;
    padding-top: 12.45%;
    bottom: 35%;
  }
  .kv .program2 {
    width: 8%;
    padding-top: 9.96%;
  }
  .kv .program3 {
    width: 12%;
    padding-top: 14.94%;
  }
  .about {
    min-height: auto;
    background-color: #ffcd32;
  }
  .about .section_l_contain {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about .section_l_contain h2 {
    width: 150px;
  }
  .about_row {
    padding: 5% 0;
  }
  .about_row:last-child {
    padding-bottom: 0;
  }
  .about_txt {
    padding: 0;
  }
  .about_man {
    width: calc(100% - 150px);
    max-width: 120px;
    margin-right: -5vw;
    margin-left: auto;
    position: relative;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .btn {
    width: 100%;
    max-width: 200px;
    text-align: center;
    border-bottom: 0;
    background-color: #3cb4d2;
    color: #ffffff;
  }
  .work_list {
    width: 90vw;
    margin: 8% auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work_item {
    width: 48%;
    margin-bottom: 10%;
    color: #000000;
  }
  .work_item * {
    text-align: left;
    letter-spacing: 0.3px;
  }
  .work_img {
    position: static;
    padding-top: 100%;
  }
  .work_contain {
    width: 100%;
    padding: 0;
    margin: 4% auto;
    background-color: transparent;
    opacity: 1;
    position: static;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .work_name {
    font-size: 1em;
  }
  .work_type {
    color: #858585;
    margin: 5px auto;
  }
  .work_tag_i {
    margin: 0 3px 0 auto;
  }
  .work_btn {
    display: none;
  }
  .contact {
    padding: 10vw 5vw;
    text-align: left;
  }
}

@media screen and (max-width: 568px) {
  .work_item {
    width: 100%;
  }
}

/*
 ** 作品列表 
 */
.p_page {
  padding-top: 3.5%;
}

/*
   ** 作品列表 > 標題 
   */
.p_page_n {
  margin: 0% auto 5% auto;
  text-align: center;
  color: #3cb4d2;
}

.p_page_n h2 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 15px;
}

.p_page_n h1 {
  font-family: 'proxima-nova', sans-serif;
  /* font-family: 'poppins', sans-serif; */
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  text-transform: lowercase;
}

/* 
   ** 作品列表 > 種類選擇 
   */
.p_drop_down {
  width: 260px;
  margin-left: 10px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.p_drop_down_choose {
  border: 1px solid #3cb4d2;
  position: relative;
  z-index: 2;
}

.p_drop_down_choose::before {
  content: '';
  width: 12px;
  height: 2px;
  background-color: #3cb4d2;
  position: absolute;
  top: 50%;
  right: 7%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.p_drop_down_choose::after {
  content: '';
  width: 2px;
  height: 12px;
  background-color: #3cb4d2;
  position: absolute;
  top: 50%;
  right: calc(7% + 5px);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.p_drop_down_choose:hover::before,
.p_drop_down_choose:hover::after {
  background-color: #ffffff;
}

.p_drop_down_choose.close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.p_drop_down_choose.close::after {
  -webkit-transform: translate(0, -5px) rotate(45deg);
          transform: translate(0, -5px) rotate(45deg);
}

.p_drop_down ul {
  width: 100%;
  font-weight: 500;
  border-left: 1px solid #3cb4d2;
  border-bottom: 1px solid #3cb4d2;
  border-right: 1px solid #3cb4d2;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.p_drop_down ul.active {
  opacity: 1;
  pointer-events: fill;
}

.p_drop_down_choose, .p_drop_down_item label {
  width: 100%;
  padding: 5% 7%;
  color: #3cb4d2;
  background-color: #f6f6f6;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
}

.p_drop_down_choose:hover, .p_drop_down_item label:hover {
  color: #ffffff;
  background-color: #3cb4d2;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
}

.p_drop_down input[type="radio"] {
  position: fixed;
  top: 50%;
  left: -9999px;
}

/*
   ** 作品列表 > list 
   */
.p_contain {
  width: 95%;
  margin: 0 auto;
}

.p_iist {
  /* width: 100%; */
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.p_item {
  /* width: 380px; */
  width: calc(25% - 20px);
  /* max-width: 380px; */
  margin: 2% 10px;
  /* opacity: 0; */
  cursor: pointer;
}

.p_img {
  width: 100%;
  background-color: #ffcd32;
  overflow: hidden;
}

.p_img img {
  transition: transform 0.2s ease-out, -webkit-filter 0.2s linear;
}

.p_item a:hover .p_img img {
  opacity: 0.5;
  -webkit-filter: blur(3px);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  transition: transform 0.2s ease-out, -webkit-filter 0.2s linear;
}

.p_type {
  width: 95%;
  margin: 0 auto;
  font-size: 15px;
  color: #3cb4d2;
  margin: 10px auto 0 auto;
}

.p_name {
  width: 95%;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 600;
  color: var(--color-text);
  letter-spacing: 1px;
}

/*
   ** 作品列表 > 聯絡我 
   */
.contact_light {
  width: 3.5%;
  height: 100%;
  background-color: #ffcd32;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
}

.contact_light img {
  width: 30%;
  margin: 0 auto;
  -webkit-animation: contactLightRun 3.5s linear infinite;
          animation: contactLightRun 3.5s linear infinite;
  position: relative;
}

@-webkit-keyframes contactLightRun {
  0% {
    top: 0%;
  }
  100% {
    top: -33.5%;
  }
}

@keyframes contactLightRun {
  0% {
    top: 0%;
  }
  100% {
    top: -33.5%;
  }
}

@media screen and (max-width: 1366px) {
  .p_item {
    width: calc(33.33333% - 20px);
  }
}

@-webkit-keyframes lineFly {
  0% {
    opacity: 0;
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  15% {
    opacity: .8;
    -webkit-transform: translate(-60%, 60%);
            transform: translate(-60%, 60%);
  }
  30% {
    opacity: 0;
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
}

@keyframes lineFly {
  0% {
    opacity: 0;
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  15% {
    opacity: .8;
    -webkit-transform: translate(-60%, 60%);
            transform: translate(-60%, 60%);
  }
  30% {
    opacity: 0;
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
}

@-webkit-keyframes squareRotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
    opacity: 0;
  }
  30% {
    -webkit-transform: rotate3d(2, -1, -1, -0.2turn);
            transform: rotate3d(2, -1, -1, -0.2turn);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate3d(0, 2, -1, 180deg);
            transform: rotate3d(0, 2, -1, 180deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes squareRotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
    opacity: 0;
  }
  30% {
    -webkit-transform: rotate3d(2, -1, -1, -0.2turn);
            transform: rotate3d(2, -1, -1, -0.2turn);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate3d(0, 2, -1, 180deg);
            transform: rotate3d(0, 2, -1, 180deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes planetRotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
            transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
            transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}

@keyframes planetRotate {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
            transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
            transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(0, 30%);
            transform: translate(0, 30%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fly {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(0, 30%);
            transform: translate(0, 30%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes cloud {
  0% {
    -webkit-transform: translate(20%, -10px);
            transform: translate(20%, -10px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translate(0%, 10px);
            transform: translate(0%, 10px);
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-20%, -10px);
            transform: translate(-20%, -10px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translate(-40%, 10px);
            transform: translate(-40%, 10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-60%, -10px);
            transform: translate(-60%, -10px);
    opacity: 0;
  }
}

@keyframes cloud {
  0% {
    -webkit-transform: translate(20%, -10px);
            transform: translate(20%, -10px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translate(0%, 10px);
            transform: translate(0%, 10px);
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(-20%, -10px);
            transform: translate(-20%, -10px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translate(-40%, 10px);
            transform: translate(-40%, 10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-60%, -10px);
            transform: translate(-60%, -10px);
    opacity: 0;
  }
}

@-webkit-keyframes shine {
  from {
    opacity: 1.0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  to {
    opacity: 1.0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes shine {
  from {
    opacity: 1.0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    opacity: 0.8;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  to {
    opacity: 1.0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes starShine {
  from {
    opacity: 0;
    -webkit-transform: scale(0.6) translate(0, 0);
            transform: scale(0.6) translate(0, 0);
  }
  15% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-100%, 100%);
            transform: scale(1) translate(-100%, 100%);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1.2) translate(-400%, 400%);
            transform: scale(1.2) translate(-400%, 400%);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.2) translate(-400%, 400%);
            transform: scale(1.2) translate(-400%, 400%);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2) translate(-400%, 400%);
            transform: scale(1.2) translate(-400%, 400%);
  }
}

@keyframes starShine {
  from {
    opacity: 0;
    -webkit-transform: scale(0.6) translate(0, 0);
            transform: scale(0.6) translate(0, 0);
  }
  15% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-100%, 100%);
            transform: scale(1) translate(-100%, 100%);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1.2) translate(-400%, 400%);
            transform: scale(1.2) translate(-400%, 400%);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.2) translate(-400%, 400%);
            transform: scale(1.2) translate(-400%, 400%);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2) translate(-400%, 400%);
            transform: scale(1.2) translate(-400%, 400%);
  }
}

@-webkit-keyframes dotshine {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dotshine {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
